
 <!-- Navbar -->
    <%= render 'shared/navbar' %>


<div class="container mb-5 mt-5 pt-5 ">
  <div class="row ">
    <div class="col-md-10 "> 
      <%= form_with url: cars_path, method: :get, local: true do %>
        <div class="input-group">
          <%= text_field_tag :search, params[:search], placeholder: "Search by car name or brand", class: "form-control" %>
          <div class="input-group-append ">
            <%= submit_tag "Search", class: "btn btn-primary" %>
            <!--<%= link_to "Show All Cars", cars_path, class: "btn btn-outline-secondary mx-4" %>-->
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <% @cars.each do |car| %>
      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow">
          <% if car.image.attached? %>
            <%= image_tag car.image, class: "card-img-top", style: "height: 200px; object-fit: cover;" %>
          <% else %>
            <%= image_tag "placeholder.png", class: "card-img-top", style: "height: 200px; object-fit: cover;" %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title d-flex justify-content-between align-items-center">
               <span><%= car.name %></span>
               <% if car.availability %>
              <span class="badge bg-success">Available</span>
               <% else %>
              <span class="badge bg-secondary">Unavailable</span>
              <% end %>
            </h5>
            <p class="card-text">
              <strong>Brand:  </strong> <%= car.brand %><br>
              <strong>Price:  </strong> <%= number_to_currency(car.price, unit: "Rs. ") %><br>
              <strong>Model Year:   </strong> <%= car.model_year %><br>
              
            </p>
            <% if car.availability %>
              <!--<%= link_to "Book Now", new_car_booking_path(car), class: "btn w-100", style: "background-color: #5d50fa; color: white;" %>-->
              <button class=" btn-2 btn-car btn-collection-page" onclick="window.location.href='<%= new_car_booking_path(car) %>'">
                <span>Book now</span>
                <i class="fa-solid fa-phone"></i>
              </button>

            <% else %>
              <button class="btn btn-secondary w-100" disabled>Not Available</button>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!-- Footer -->
<%= render 'shared/footer' %>